.pesquisa {
    display: flex;
    width: 25rem;
    margin: 0 0 0 90px; 
    border: 1px solid black;
    border-radius: 90px;
    font-family: 'Times New Roman', Times, serif;
}

.pesquisa input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 279px;
    margin: 0 0 0 5px;
}

.pesquisa button[type="submit"] {
    padding: 10px 15px;
    border: none;
    background-color: #002a62;
    color: white;
    cursor: pointer;
    border-radius: 0 90px 90px 0; /* Ajuste o raio da borda */
    transition: background-color 0.3s ease;
}

.pesquisa button[type="submit"]:hover {
    background-color: #001c3f;
}

.barra-de-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}

.lupa-pesquisa {
    margin: 10px 0 0 10px;
}

.filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 0 50px;
}

.filtro p {
    margin-top: 1rem;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.postagens {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
   
    margin: 10px; /* Adicione uma margem entre os cartões */
}

h5,
button {
    font-family: 'Times New Roman', Times, serif;
    margin: 0; /* Remover margem padrão do parágrafo */
}

.rodape {
    margin-top: 50px;
}

.card-ajustado {
    flex: 1 1 45%; /* Defina a largura dos cartões para ocupar 45% da largura total */
}
