.pesquisa {
    display: flex;
    width: 550px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 90px;
    margin: 50px 30px 0 300px;
    font-family: 'Times New Roman', Times, serif;

}

.pesquisa input[type="text"]{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border: none;
}

.pesquisa button[type="submit"]{
    padding: 10px 15px;
    border: none;
    background-color: #002a62;
    color: white;
    cursor: pointer;
    border-radius: 90px;
    transition: background-color 0.3s ease;
    
}

.pesquisa button[type="submit"]:hover {
    background-color: #001c3f;
}

.pesquisa img.lupa-pesquisa {
    padding: 10px;
}

.barra-de-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
}

.filtro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 300px 0 0;
    text-align: center;
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.postagens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1232px;
}

.card{
    margin: 10px;
}

h5, button {
    font-family: 'Times New Roman', Times, serif;
    margin: 0; /* Remover margem padrão do parágrafo */
}

.rodape {
    margin-top: 50px;
}

