.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.postagens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1232px;
}

.card{
    margin: 10px;
}

h5, button {
    font-family: 'Times New Roman', Times, serif;
    margin: 0; /* Remover margem padrão do parágrafo */
}

.conteudo-principal {
    margin: 20px 0 0 0;

}