.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.container {
    background-color: #002a62;
    border: 1px solid #002a62;
    border-radius: 20px;
}